<nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3" th:fragment="header">
    <a class="navbar-brand" href="/">게시판 서비스</a>
    <ul class="nav nav-pills">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">회원관리</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#scrollspyHeading3">로그인</a></li>
                <li><a class="dropdown-item" href="#scrollspyHeading3">회원가입</a></li>
            </ul>
        </li>
    </ul>
</nav>